/* PHASE 3: Layout */
.content {
  position: relative;
  width: 900px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid #CBCBCB;
  border-top: 0;
}

.content:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: #CBCBCB;
  left: 240px;
  top: 0;
  bottom: 0;
}

.content-sidebar {
  float: left;
  display: inline-block;
  min-height: 240px;
  width: 240px;
}

.content-main {
  float: right;
  display: inline-block;
  min-height: 240px;
  width: 660px;
}
