/* PHASE 4: Footer */

.footer {
  position: relative;
  background-color: white;
  width: 900px;
  border: 1px solid #CBCBCB;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  color: #A8A8A8;
  margin: 0 auto;
}

.copyright {
  float: left;
  padding: 20px;
}

.footer-links {
  float: right;
  margin-right: 10px;
}

.footer-links a:hover {
  color: black;
}

.footer-links li {
  display: inline-block;
  float: left;
  padding: 20px 10px;
}
